<ul ngbNav [activeId]="route.fragment | async" class="nav-tabs">
  <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
    <a ngbNavLink [routerLink]="[link.fragment]">{{ link.title }}</a>
  </li>
  <ng-container  *ngIf="user$ | async">
    <li [ngbNavItem]="link.fragment" *ngFor="let link of signedInLinks">
      <a ngbNavLink [routerLink]="[link.fragment]">{{ link.title }}</a>
    </li>
  </ng-container>
  <li ngbNavItem="" *ngIf="user$ | async; else showLogin">
    <a ngbNavLink href="#" (click)="logout()">Logout</a>
  </li>
  <ng-template #showLogin>
    <li ngbNavItem="login">
      <a ngbNavLink routerLink="login">Login</a>
    </li>
  </ng-template>
</ul>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
